Repository bounswe/bounswe2020group6, pull requests merged in 2020-12, with the labels that each got.

#216 Updated DB diagram and models
  backend/model/db.js
  backend/model/db_diagram.png
  backend/model/departments.js
  backend/model/project_milestones.js
  backend/model/projects.js
  backend/model/titles.js
  backend/model/universities.js
  backend/model/user_affiliations.js
  backend/model/users.js
Labels: backend

#242 Added collaboration, project-file , project tags related endpoints and functions
  backend/app.js
  backend/controllers/collabController.js
  backend/controllers/fileController.js
  backend/controllers/postController.js
  backend/model/collab_requests.js
  backend/model/db.js
  backend/routers/collabRouter.js
  backend/routers/fileRouter.js
  backend/routers/postRouter.js
  backend/util/collabUtil.js
  backend/util/postUtil.js
  backend/util/uploadUtil.js
Labels: backend

#244 Add project files edit page
  frontend/src/pages/FileEditor/index.jsx
  frontend/src/pages/FileEditor/style.js
  frontend/src/routes.jsx
Labels: frontend

#240 List followers and following
  frontend/src/components/ProfileSider/index.jsx
  frontend/src/components/UserCard/index.jsx
  frontend/src/components/UserCard/style.js
  frontend/src/pages/ListFollow/index.jsx
  frontend/src/pages/ListFollow/style.js
  frontend/src/redux/actionTypes.js
  frontend/src/redux/follow/actions.js
  frontend/src/redux/follow/api.js
  frontend/src/redux/follow/reducer.js
  frontend/src/routes.jsx
Labels: completed, frontend

#249 Added endpoints and functions regarding project milestones
  backend/controllers/postController.js
  backend/model/db.js
  backend/model/project_milestones.js
  backend/routers/postRouter.js
  backend/util/postUtil.js
Labels: backend, completed

#269 Frontend Registration Recommendations
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/SignUp/index.jsx
  frontend/src/redux/actionTypes.js
  frontend/src/redux/auth/reducer.js
  frontend/src/redux/choices/actions.js
  frontend/src/redux/choices/api.js
  frontend/src/redux/choices/reducer.js
  frontend/src/redux/search/actions.js
  frontend/src/redux/store.js
Labels: completed, frontend

#259 Android projectcreation
  android/Akademise_dev/.gradle/6.5/executionHistory/executionHistory.bin
  android/Akademise_dev/.gradle/6.5/executionHistory/executionHistory.lock
  android/Akademise_dev/.gradle/6.5/fileHashes/fileHashes.bin
  android/Akademise_dev/.gradle/6.5/fileHashes/fileHashes.lock
  android/Akademise_dev/.gradle/6.5/javaCompile/classAnalysis.bin
  android/Akademise_dev/.gradle/6.5/javaCompile/javaCompile.lock
  android/Akademise_dev/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Project.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCreationActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCreationActivity2.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Summary.java
  android/Akademise_dev/app/src/main/res/layout/fragment_project_info_entry_2.xml
  android/Akademise_dev/app/src/main/res/values/strings.xml
Labels: designing, fixed, mobile, programming

#271 Changed implementation of getting project-files & fixed bug.
  backend/controllers/collabController.js
  backend/controllers/fileController.js
  backend/controllers/postController.js
  backend/routers/fileRouter.js
Labels: backend, completed

#283 addTag and tagExist Functions are Updated
  backend/controllers/postController.js
  backend/util/postUtil.js
Labels: backend, update, urgent

#282 Added input validation at autocomplete add endpoints
  backend/controllers/autoCompleteController.js
Labels: backend

#276 profile update endpoint, google scholar api
  backend/controllers/profileController.js
  backend/util/userUtil.js
Labels: backend, completed, high priority, new, programming

#284 Android projectcreation
  android/Akademise_dev/.idea/caches/build_file_checksums.ser
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GetProjects.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/HomeFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCollaborators.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectDetailsActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectDetailsUserActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectFiles.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewAdapter.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RootGetProjects.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/SearchedUsers.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Tag.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/User.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/UsersWholeInformation.java
  android/Akademise_dev/app/src/main/res/layout/activity_project_details.xml
  android/Akademise_dev/app/src/main/res/layout/activity_project_details_u.xml
  android/Akademise_dev/app/src/main/res/values/strings.xml
  android/Akademise_dev/local.properties
Labels: medium priority, mobile, programming

#286 Frontend Edit Project Page
  frontend/package.json
  frontend/src/pages/CreateProject/index.jsx
  frontend/src/pages/CreateProject/style.js
  frontend/src/pages/EditProject/index.jsx
  frontend/src/pages/EditProject/style.js
  frontend/src/pages/Project/index.jsx
  frontend/src/redux/project/api.js
  frontend/src/routes.jsx
  frontend/yarn.lock
Labels: designing, frontend

#277 Followers / Following page updates
  frontend/src/components/UserCard/index.jsx
  frontend/src/pages/ListFollow/index.jsx
  frontend/src/pages/Profile/index.jsx
Labels: bug, completed, frontend

#247 Frontend Project Details Page Displaying Status
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/ProjectDetails/style.js
Labels: completed, frontend, update

#288 Frontend edit pages
  frontend/src/pages/CreateProject/index.jsx
  frontend/src/pages/EditProject/index.jsx
  frontend/src/pages/EditProject/style.js
  frontend/src/redux/project/api.js
Labels: bug, fixed, frontend

#289 Frontend Links
  frontend/src/components/ContentCard/index.jsx
  frontend/src/components/ContentCard/style.js
  frontend/src/components/UserCard/index.jsx
  frontend/src/pages/CreateProject/index.jsx
  frontend/src/pages/EditProject/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/ProjectDetails/style.js
  frontend/src/pages/Search/index.jsx
Labels: bug, completed, fixed, frontend

#290 fix for displaying wrongly created projects
  frontend/src/pages/ProjectDetails/index.jsx
Labels: bug, fixed, frontend

#246 Frontend Notification Modal is Created
  frontend/src/components/MainHeader/index.jsx
  frontend/src/components/MainHeader/style.js
  frontend/src/components/Notification/index.jsx
  frontend/src/components/Notification/style.js
Labels: completed, frontend, programming

#297 Frontend Project Details Bug Fix and Design Tweak
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/ProjectDetails/style.js
Labels: bug, designing, fixed, frontend

#305 Android googlescholar
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GoogleScholar.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GoogleScholarFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GoogleScholarPublication.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GoogleScholarRVAdapter.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Profile.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileOthersFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Url.java
  android/Akademise_dev/app/src/main/res/layout/fragment_google_scholar.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_profile.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_profile_others.xml
Labels: mobile

#302 Added endpoint & functions for getting user interest(tag) related projects
  backend/app.js
  backend/controllers/postController.js
  backend/routers/homepageRouter.js
  backend/util/postUtil.js
Labels: backend, completed, programming

#311 Home Page Backend Connection of User and Project Recommendations
  frontend/src/components/ContentCard/index.jsx
  frontend/src/components/PersonRecommendationCard/index.jsx
  frontend/src/components/ProjectRecommendationCard/index.jsx
  frontend/src/pages/Home/index.jsx
Labels: completed, frontend

#317 home functionality added
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GoogleScholarFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Home.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/HomeFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileOthersFragment.java
  android/Akademise_dev/app/src/main/res/layout/fragment_profile.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_profile_others.xml
Labels: mobile

#310 Frontend File Editor
  frontend/src/pages/FileEditor/index.jsx
Labels: bug, fixed, frontend

#318 Edit profile, Upvote and Follow functionalities are added.
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Biography.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Profile.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileOthersFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProfileUpdate.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/SignupFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Upvote.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/UserInterest.java
  android/Akademise_dev/app/src/main/res/layout/fragment_profile.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_signup.xml
Labels: medium priority, mobile, programming

#322 Homepage enhancements
  frontend/src/pages/Home/index.jsx
Labels: completed, frontend

#321 Frontend recommendations
  frontend/src/components/PersonRecommendationCard/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/ListFollow/index.jsx
Labels: frontend

#325 Frontend bug fix
  frontend/src/pages/Home/index.jsx
Labels: bug, frontend, urgent

#327 Android projectcreation
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCreationActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectInfoEntryFragment.java
  android/Akademise_dev/app/src/main/res/layout/fragment_project_info_entry_2.xml
Labels: completed, designing, mobile, urgent

#313 Update error handling
  backend/controllers/autoCompleteController.js
Labels: backend

#332 Frontend fix search bug
  frontend/src/components/PersonRecommendationCard/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/Search/index.jsx
  frontend/src/redux/follow/api.js
  frontend/src/redux/search/api.js
Labels: bug, fixed, frontend

#333 Updated user recommendations and post recommendations
  backend/controllers/homeController.js
  backend/util/postUtil.js
  backend/util/userUtil.js
Labels: backend, completed, fixed, high priority, new
