Repository bounswe/bounswe2020group6, pull requests merged in 2020-11, with the labels that each got.

#196 Home Page is Created
  frontend/src/components/PersonRecommendationCard/index.jsx
  frontend/src/components/PersonRecommendationCard/style.js
  frontend/src/components/ProjectRecommendationCard/index.jsx
  frontend/src/components/ProjectRecommendationCard/style.js
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/style.js
Labels: frontend

#197 Updated post functions and added necessary models for database
  backend/controllers/postController.js
  backend/model/db.js
  backend/model/posts.js
  backend/model/projectCollaborators.js
  backend/model/projectFiles.js
  backend/model/projectTags.js
  backend/model/projects.js
  backend/model/userProjects.js
Labels: backend

#195 Height Bug of the Frame Component is Fixed
  frontend/src/components/Frame/index.jsx
  frontend/src/components/Frame/style.js
Labels: fixed, frontend

#202 Frontend signup
  frontend/src/axios.js
  frontend/src/pages/SignUp/index.jsx
  frontend/src/redux/actionTypes.js
  frontend/src/redux/auth/actions.js
  frontend/src/redux/auth/api.js
  frontend/src/redux/auth/reducer.js
Labels: frontend
