Repository bounswe/bounswe2020group6, pull requests merged in 2021-01, with the labels that each got.

#340 Frontend User Agreement
  frontend/src/pages/SignUp/index.jsx
  frontend/src/pages/SignUp/style.js
Labels: frontend

#353 Fix status bug on project details
  frontend/src/pages/ProjectDetails/index.jsx
Labels: bug, fixed, frontend

#354 Frontend password restraints
  frontend/src/pages/SignUp/index.jsx
Labels: frontend

#356 Frontend about page
  frontend/src/components/LandingHeader/index.jsx
  frontend/src/pages/About/index.jsx
  frontend/src/pages/About/style.js
  frontend/src/pages/ListFollow/index.jsx
  frontend/src/routes.jsx
Labels: frontend

#360 Event and notifications models are added
  backend/model/db.js
  backend/model/dbDiagram.png
  backend/model/event_tags.js
  backend/model/events.js
  backend/model/follows.js
  backend/model/notifications.js
Labels: backend

#367 Backend event endpoints
  backend/app.js
  backend/controllers/autoCompleteController.js
  backend/controllers/eventController.js
  backend/routers/eventRouter.js
Labels: backend

#376 Implemented notification related functions
  backend/controllers/collabController.js
  backend/controllers/notificationController.js
  backend/routers/notificationRouter.js
  backend/util/notificationUtil.js
Labels: backend

#377 Improved Event endpoints for Backend
  backend/controllers/eventController.js
  backend/model/db.js
  backend/model/event_favs.js
  backend/routers/eventRouter.js
Labels: backend, completed, fixed, high priority

#379 home recommendation func. is upgraded. It also suggests users.
  android/Akademise_dev/.idea/caches/build_file_checksums.ser
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Home.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/HomeFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/SearchedUsers.java
  android/Akademise_dev/local.properties
Labels: completed, mobile, programming

#382 Cron Job about non-validated users
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/util/cron.js
Labels: backend, completed, low priority, programming

#381 Password reset related endpoints
  backend/controllers/authController.js
  backend/controllers/validateController.js
  backend/routers/authRouter.js
  backend/routers/validateRouter.js
  backend/util/authCheck.js
  backend/util/email.html
  backend/util/mailController.js
Labels: backend, completed, high priority

#378 Events now come with their fav-able status
  backend/controllers/eventController.js
  backend/model/events.js
  backend/routers/eventRouter.js
Labels: backend

#386 Improved design and added new function for rejection notifications
  backend/controllers/eventController.js
  backend/controllers/notificationController.js
  backend/routers/notificationRouter.js
Labels: backend, high priority

#385 Frontend Event Creation Page
  frontend/src/components/ProfileSider/index.jsx
  frontend/src/pages/CreateEvent/index.jsx
  frontend/src/pages/CreateEvent/style.js
  frontend/src/redux/event/api.js
  frontend/src/routes.jsx
Labels: completed, frontend

#389 KVKK added to user agreement & user agreement moved into asset file
  frontend/src/assets/user_agreement.jsx
  frontend/src/pages/SignUp/index.jsx
Labels: frontend

#395 Frontend Event Edit Page is Created
  frontend/src/pages/EditEvent/index.jsx
  frontend/src/pages/EditEvent/style.js
  frontend/src/redux/event/api.js
  frontend/src/routes.jsx
Labels: completed, frontend

#396 notification system updated.
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/MainActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Notifications.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/PopUpAdapter.java
  android/Akademise_dev/app/src/main/res/layout/popup_row.xml
Labels: completed, mobile

#403 Project Fields are updated according to the feedback from Backend
  android/Akademise_dev/app/src/main/AndroidManifest.xml
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/EditProjectActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/GetProjects.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/Project.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCreationActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectCreationActivity2.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectDetailsActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectFragment.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewDetailsAdapter.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/UpdateProject.java
  android/Akademise_dev/app/src/main/res/layout/activity_project_details.xml
  android/Akademise_dev/app/src/main/res/layout/content_row.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_project_info_entry.xml
  android/Akademise_dev/app/src/main/res/layout/fragment_project_info_entry_2.xml
  android/Akademise_dev/app/src/main/res/values/strings.xml
Labels: designing, medium priority, mobile, programming

#384 Frontend forgot password delete account
  frontend/src/components/ChangePasswordModal/index.jsx
  frontend/src/components/ChangePasswordModal/style.js
  frontend/src/components/DeleteAccountModal/index.jsx
  frontend/src/components/DeleteAccountModal/style.js
  frontend/src/components/LandingHeader/index.jsx
  frontend/src/components/LandingHeader/style.js
  frontend/src/components/MainHeader/index.jsx
  frontend/src/components/MainHeader/style.js
  frontend/src/index.css
  frontend/src/pages/ForgotPassword/index.jsx
  frontend/src/pages/ForgotPassword/style.js
  frontend/src/routes.jsx
Labels: frontend

#406 Frontend refactor publicity
  frontend/src/pages/EditProject/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
Labels: bug, fixed, frontend

#397 Frontend Event Details
  frontend/src/pages/EventDetails/components/UserResult/index.jsx
  frontend/src/pages/EventDetails/components/UserResult/style.js
  frontend/src/pages/EventDetails/index.jsx
  frontend/src/pages/EventDetails/style.js
  frontend/src/routes.jsx
Labels: frontend

#415 Android Project Creation and Details view improvements
  android/Akademise_dev/app/src/main/java/com/example/akademise/AkademiseApi.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectDetailsActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/ProjectDetailsUserActivity.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewDetailsAdapter.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewMilestoneAdapter.java
  android/Akademise_dev/app/src/main/java/com/example/akademise/RecyclerViewTagAdapter.java
  android/Akademise_dev/app/src/main/res/drawable/rectangle.xml
  android/Akademise_dev/app/src/main/res/drawable/rowview_shape.xml
  android/Akademise_dev/app/src/main/res/drawable/rowview_shape_lightgreen.xml
  android/Akademise_dev/app/src/main/res/drawable/rowview_shape_white.xml
  android/Akademise_dev/app/src/main/res/drawable/small_rectangle.xml
  android/Akademise_dev/app/src/main/res/layout/activity_project_details.xml
  android/Akademise_dev/app/src/main/res/layout/activity_project_details_u.xml
  android/Akademise_dev/app/src/main/res/layout/content_row.xml
  android/Akademise_dev/app/src/main/res/layout/milestone_row.xml
  android/Akademise_dev/app/src/main/res/layout/tag_row.xml
  android/Akademise_dev/app/src/main/res/values/colors.xml
Labels: completed, designing, medium priority, mobile

#408 Frontend Semantic Search
  frontend/src/components/ProfileSider/index.jsx
  frontend/src/pages/Search/index.jsx
  frontend/src/redux/search/api.js
Labels: frontend

#420 add to calendar button created in event details and date format changes in events list
  frontend/src/pages/EventDetails/index.jsx
  frontend/src/pages/Events/index.jsx
Labels: frontend, low priority

#425 Frontend Saved (Favourited) Events Page
  frontend/src/components/ProfileSider/index.jsx
  frontend/src/pages/SavedEvents/index.jsx
  frontend/src/pages/SavedEvents/style.js
  frontend/src/routes.jsx
Labels: completed, frontend

#428 Frontend Tag Search
  frontend/src/components/MainHeader/index.jsx
  frontend/src/components/SearchableTag/index.jsx
  frontend/src/components/SearchableTag/style.js
  frontend/src/pages/EventDetails/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/ProjectDetails/style.js
  frontend/src/pages/Search/index.jsx
  frontend/src/redux/search/api.js
Labels: frontend

#442 Frontend comments
  frontend/src/components/ContentCard/index.jsx
  frontend/src/components/FilterButton/index.jsx
  frontend/src/components/FilterButtonSmall/index.jsx
  frontend/src/components/MainHeader/index.jsx
  frontend/src/components/Notification/index.jsx
  frontend/src/components/PersonRecommendationCard/index.jsx
  frontend/src/components/ProfileSider/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/ProjectDetails/index.jsx
  frontend/src/pages/SavedEvents/index.jsx
  frontend/src/pages/Search/index.jsx
Labels: documenting, frontend

#437 Search Endpoint Connection of the Batch Invite User Selection Modal
  frontend/src/pages/ProjectDetails/index.jsx
Labels: fixed, frontend
